<template name="nav">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span>mFlux</span></a>
        <!-- start: Header Menu -->
        <div class="nav-no-collapse header-nav">
          <ul class="nav pull-right">
            <li class="dropdown hidden-xs">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="index.html#">
              <i class="fa fa-bell white"></i>
              </a>
              <ul class="dropdown-menu notifications">
                <li>
                  <span class="dropdown-menu-title">You have 11 notifications</span>
                </li>
                <li>
                  <a href="index.html#">
                  + <i class="fa fa-user"></i> <span class="message">New user registration</span> <span class="time">1 min</span>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                  + <i class="fa fa-comment-o"></i> <span class="message">New comment</span> <span class="time">7 min</span>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                  + <i class="fa fa-comment-o"></i> <span class="message">New comment</span> <span class="time">8 min</span>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                  + <i class="fa fa-comment-o"></i> <span class="message">New comment</span> <span class="time">16 min</span>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                  + <i class="fa fa-user"></i> <span class="message">New user registration</span> <span class="time">36 min</span>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                  + <i class="fa fa-shopping-cart"></i> <span class="message">2 items sold</span> <span class="time">1 hour</span>
                  </a>
                </li>
                <li class="warning">
                  <a href="index.html#">
                  - <i class="fa fa-user"></i> <span class="message">User deleted account</span> <span class="time">2 hour</span>
                  </a>
                </li>
                <li class="warning">
                  <a href="index.html#">
                  - <i class="fa fa-shopping-cart"></i> <span class="message">Transaction was canceled</span> <span class="time">6 hour</span>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                  + <i class="fa fa-comment-o"></i> <span class="message">New comment</span> <span class="time">yesterday</span>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                  + <i class="fa fa-user"></i> <span class="message">New user registration</span> <span class="time">yesterday</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-menu-sub-footer">View all notifications</a>
                </li>
              </ul>
            </li>
            <!-- start: Notifications Dropdown -->
            <li class="dropdown hidden-xs">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-check white"></i>
              </a>
              <ul class="dropdown-menu tasks">
                <li>
                  <span class="dropdown-menu-title">Você tem 17 tarefas pendêntes</span>
                </li>
                <li>
                  <a href="index.html#">
                    <span class="header">
                    <span class="title">iOS Development</span>
                    <span class="percent"></span>
                    </span>
                    <div class="taskProgress progressSlim progressBlue">80</div>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                    <span class="header">
                    <span class="title">Android Development</span>
                    <span class="percent"></span>
                    </span>
                    <div class="taskProgress progressSlim progressBlue">47</div>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                    <span class="header">
                    <span class="title">Django Project For Google</span>
                    <span class="percent"></span>
                    </span>
                    <div class="taskProgress progressSlim progressBlue">32</div>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                    <span class="header">
                    <span class="title">SEO for new sites</span>
                    <span class="percent"></span>
                    </span>
                    <div class="taskProgress progressSlim progressBlue">63</div>
                  </a>
                </li>
                <li>
                  <a href="index.html#">
                    <span class="header">
                    <span class="title">New blog posts</span>
                    <span class="percent"></span>
                    </span>
                    <div class="taskProgress progressSlim progressBlue">80</div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-menu-sub-footer">View all tasks</a>
                </li>
              </ul>
            </li>
            <!-- end: Notifications Dropdown -->
            <li>
              <a class="btn" href="/config">
              <i class="fa fa-cog white"></i>
              </a>
            </li>
            <!-- start: User Dropdown -->
            <li class="dropdown">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-user white"></i> {{currentUser.profile.name}}
              <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/config"><i class="fa fa-cog white"></i> Configurações</a></li>
                <li><a href="/me"><i class="fa fa-user white"></i> Minha conta</a></li>
                <li><a href="/logout"><i class="fa fa-sign-out white"></i> Logout</a></li>
              </ul>
            </li>
            <!-- end: User Dropdown -->
          </ul>
        </div>
        <!-- end: Header Menu -->
      </div>
    </div>
  </div>

</template>
