<template name="login">

  <div class="container">
    <div class="row">
      <div class="row">
        <div class="login-box">
          <h2>mFlux</h2>
          <form class="form-horizontal" id="frmLogin" action="" method="post">
            <fieldset>
              <div class="input-wrap x-j x-signup">
                <div class="input-prepend input-group" title="Nome">
                  <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </span>
                  <input class="form-control" name="name" id="name" type="text" placeholder="name"/>
                </div>
              </div>
              <div class="input-wrap">
                <div class="input-prepend input-group" title="Email">
                  <span class="input-group-addon">
                    <i class="fa fa-at"></i>
                  </span>
                  <input class="form-control" required name="email" id="email" type="text" placeholder="email"/>
                </div>
              </div>
              <div class="input-wrap">
                <div class="input-prepend input-group" title="Password">
                  <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                  </span>
                  <input class="form-control" required name="password" id="password" type="password" placeholder="password"/>
                </div>
              </div>
              <h3 class="newAccount x-j x-login">Novo usuário? <a class="x-go" data-type="signup" href="#">Crie uma nova conta</a></h3>
              <h3 class="newAccount x-j x-signup">Já tem usuário? <a class="x-go" data-type="login" href="#">Faça login</a></h3>
              <div class="button-login">
                <input type="hidden" id="type" name="type" value="login">
                <button type="submit" name="btn-login" class="btn btn-primary x-j x-login">Login</button>
                <button type="submit" name="btn-signup" class="btn btn-success x-j x-signup">Registrar</button>
              </div>
              <div class="clearfix"></div>
            </fieldset>
          </form>
          <hr>
        </div>
      </div>
    </div>
  </div>
</template>
